{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">Пользователи (только просмотр в этом прототипе)</h3>
<table class="table table-striped">
  <thead><tr><th>ID</th><th>Логин</th><th>Роль</th></tr></thead>
  <tbody>
    {% for u in users %}
      <tr><td>{{ u.id }}</td><td>{{ u.username }}</td><td>{{ u.role }}</td></tr>
    {% endfor %}
  </tbody>
</table>
<div class="alert alert-secondary">В следующей версии добавим создание/изменение пользователей из интерфейса.</div>
{% endblock %}
